.home__container {
  padding: 80px 80px 100px !important;
  z-index: 1000 !important;
  word-wrap: break-word;
}

.home__main--content {
  display: flex;
  flex-direction: column !important;
  gap: 10px;
}
