.account__container {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}
.account__container--user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.account__user--avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
}

.account__user--info {
  display: flex;
  flex-direction: column;
}

.account__user--nickname {
  font-weight: 600;
}

.account__user--fullname {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.account__switch {
  color: #0095f6;
  font-weight: 800;
  font-size: 13px;
}
